// Gallow //////////////////////////////////////////////////

.drawing{
    padding: 20px 80px;

    &__background{
        position: relative;
    }

    &__rope{
        height: 60px;
        width: 10px;
        background: black;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__bar{
        height: 10px;
        width: 80%;
        background: black;
        margin-left: 20%;
    }

    &__post{
        height: 400px;
        width: 10px;
        background: black;
        margin-left: 20%;
    }

    &__base{
        height: 10px;
        width: 200px;
        background: black;
    }
}
